<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Subscribely</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a href="http://www.sotmclub.com/">Sock Club</a>
                    </li>
                    <li>
                        <a href="https://github.com/SockClub/subscribely">Subscribely Source</a>
                    </li>
                    <li>
                        <a href="https://developers.google.com/appengine/docs/python/python27/using27">App Engine docs</a>
                    </li>
                    <li>
                        <a href="http://flask.pocoo.org/">Flask docs</a>
                    </li>
                    <li>
                        <a href="http://twitter.github.com/bootstrap">Bootstrap docs</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->

            <ul class="nav" style="float: right;">
              {% if user %}
                <li>
                    <a href="/account">Hello {{ user.username }}</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
              {% else %}
                 <li>
                    <a href="/login">Login</a>
                </li>
              {% endif %}
            </ul>



        </div><!-- /.navbar .container -->
    </div><!-- /.navbar-inner -->
</div><!-- /navbar -->
